################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/bin/Debug/net6.0
/WebApi/obj
/logs
/CA.DAL/obj
/TE.DAL/obj
/CA.DAL/bin/Debug/net6.0
/TE.DAL/bin/Debug/net6.0
